:root {
  --primary-color: #7acdc6;
  --danger-color: #f57954;
  --danger-color-100: #fbe9e7;
  --gray-color-100: #f4f4f5;
  --gray-color-300: #d4d4d8;
  --gray-color-500: #71717a;

  --border-color: var(--gray-color-500);
  --border-width: 1px;
  --border-radius: 4px;
  --space: 1rem;

  --field-radius: var(--border-radius);
  --field-x-padding: 0.8rem;
  --field-y-padding: 1rem;

  --label-x-padding: 0;
  --label-y-padding: 0.8rem;

  --list-item-x-padding: 0;
  --list-item-y-padding: 0.8rem;
}