.rounded-sm {
  border-radius: var(--border-radius);
}

.p-2 {
  padding: calc(var(--space) / 2);
}

.mt-1 {
  padding-top: calc(var(--space) / 4);
}

.text-right {
  text-align: right;
}

.font-bold {
  font-weight: bold;
}

.font-lg {
  font-size: 1.25rem;
}

.flex {
  display: flex;
}

.gap-4 {
  gap: var(--space);
}

.flex-1 {
  flex: 1;
}
